<div class="login-section">

    <div class="login card">
        <div class="card-content">
            <h5>Acceder</h5>
        </div>
        <div class="card-content">
            <!-- form -->
            <form class="col s12">
                <div class="input-field col s12">
                    <input id="usuario" type="text" class="validate">
                    <label for="usuario">Usuario</label>
                </div>
                <div class="input-field col s12">
                    <input id="clave" type="password" class="validate">
                    <label for="clave">Clave</label>
                </div>
                <div class="input-field col s12 right">
                    <button class="btn green darken-2"
                            ui-sref="app">Acceder</button>
                </div>
            </form>
            <!-- /form -->
        </div>
    </div>
</div>